<section class="padding-y-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2">
          <div class="card-header border-bottom">
            <h4 class="mt-2">
              Connectez-vous à votre compte
            </h4>
          </div>
          <div class="card-body">


            <form action="#" method="POST" class="px-lg-4">
              <div class="input-group input-group--focus mb-3">
                <input type="text" class="form-control glyphicon" placeholder="&#x2709; Email">
              </div>
              <div class="input-group input-group--focus mb-3">
                <input type="password" class="form-control glyphicon" placeholder="&#xe033; Mot de passe">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-eye-open"></span> Afficher le mot de passe
                </button>
              </div>
              <div class="d-md-flex justify-content-between my-4">
                <label class="ec-checkbox check-sm my-2 clearfix">
                  <input type="checkbox" name="checkbox">
                  <span class="ec-checkbox__control"></span>
                  <span class="ec-checkbox__lebel">Se souvenir de moi</span>
                </label>
                <a href="page-recover-password.html" class="text-primary my-2 d-block">Mot de passe oublie ?</a>
              </div>
              <button class="btn btn-block btn-primary">S'identifier</button>
              <p class="my-5 text-center">
                Pas de compte ? <a href="inscription" class="text-primary">S'inscrire</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>