
  <section class="height-90vh py-5 flex-center jarallax" data-dark-overlay="4" style="background:url(assets/img/1920x800/1.jpg) no-repeat">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-white">
          <h2 class="display-lg-4 font-weight-bold text-primary wow slideInUp">
            Best Ever Trendy
          </h2>
          <h1 class="display-lg-3 font-weight-bold text-white wow slideInUp">
            School Template
          </h1>
          <p class="lead wow slideInUp">
            This modern and inviting academic template is perfectly suited for school, colleges, university, on-line course, and other educational institutions. 
          </p>  
        </div>
      </div>
    </div>
  </section>
  <!-- -->
  <section class="padding-y-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row align-items-center">
            <div class="col-md-6 my-5">
             <div class="position-relative">
              <img class="rounded w-100" src="assets/img/360x400/1.jpg" alt="">
              <a href="https://www.youtube.com/watch?v=7e90gBu4pas" data-fancybox class="iconbox iconbox-lg bg-white position-absolute absolute-center">
                <i class="ti-control-play text-primary"></i>
              </a>
             </div>
            </div>
            <div class="col-md-6 mt-4">
              <h2>
                <small class="d-block text-gray">Welcome to</small>
                 <span class="text-primary">Educati</span> School
              </h2>
              <p class="my-4">
                Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt wuti labore.
              </p>
              <a href="#" class="btn btn-outline-primary">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5 mt-md-0">
          <div class="card shadow-v2 z-index-5" data-offset-top-xl="-160">
            <div class="card-header bg-primary text-white border-bottom-0">
              <span class="lead font-semiBold text-center">
                Les concours les plus vus
              </span>
            </div>
            <div class="p-4 border-bottom wow fadeInUp">
              <p class="text-primary mb-1">
                le 23 Janvier 2019
              </p>
              <a href="#">
                Maximizing potential through individual attention.
              </a>
            </div>  
            <div class="p-4 border-bottom wow fadeInUp">
              <p class="text-primary mb-1">
                  le 23 Janvier 2019
              </p>
              <a href="#">
                Nullam quis ante etiam sit amet eget eros faucibus
              </a>
            </div>
            <div class="p-4 border-bottom wow fadeInUp">
              <p class="text-primary mb-1">
                  le 23 Janvier 2019
              </p>
              <a href="#">
                Adsing eusmo tempor indeduny
              </a>
            </div>
            
            <div class="p-4 border-bottom wow fadeInUp">
              <p class="text-primary mb-1">
                  le 23 Janvier 2019
              </p>
              <a href="#">
                Nullam quis ante etiam sit amet eget eros faucibus
              </a>
            </div>
            <div class="p-4">
              <a href="#" class="btn btn-link pl-0">
                  Voir tous les concours
              </a>
            </div>
          </div>
        </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section>
  
  <!-- liste des concours a venir-->
  <section class="padding-y-100 bg-light-v5">
    <div class="container">
      <div class="row">
       
        <div class="col-12 text-center mb-4">
          <h2 class="mb-4">
              les concours à venir
          </h2>
          <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
        </div> 
      </div> <!-- END row-->
      
      <div class="row">
  
        <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".1s">
          <div class="card shadow-v1">
              <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
            <div class="padding-40 border-bottom" hidden>
            </div>
            <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                <a href="#" class="h4">
                    Concours d'entrée a l'Institut Point Com de Paris
                  </a>
              <li>
                 <i class="ti-time mr-2 text-primary"></i>
                 Le 13 Fevrier 2019 a 8h30
              </li>
              <li>
                 <i class="ti-location-pin mr-2 text-primary"></i>
                 184 Main Collins Street
              </li>
              <li>
               <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
              <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
              </li>
            </ul>    
          </div>
        </div>
  
  
        <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".2s">
            <div class="card shadow-v1">
                <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
              <div class="padding-40 border-bottom" hidden>
              </div>
              <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                  <a href="#" class="h4">
                      Concours d'entrée a l'Institut Point Com de Paris
                    </a>
                <li>
                   <i class="ti-time mr-2 text-primary"></i>
                   Le 13 Fevrier 2019 a 8h30
                </li>
                <li>
                   <i class="ti-location-pin mr-2 text-primary"></i>
                   184 Main Collins Street
                </li>
                <li>
                 <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
                <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
                </li>
              </ul>    
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".3s">
              <div class="card shadow-v1">
                  <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
                <div class="padding-40 border-bottom" hidden>
                </div>
                <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                    <a href="#" class="h4">
                        Concours d'entrée a l'Institut Point Com de Paris
                      </a>
                  <li>
                     <i class="ti-time mr-2 text-primary"></i>
                     Le 13 Fevrier 2019 a 8h30
                  </li>
                  <li>
                     <i class="ti-location-pin mr-2 text-primary"></i>
                     184 Main Collins Street
                  </li>
                  <li>
                   <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
                  <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
                  </li>
                </ul>    
              </div>
            </div>
  
  
            <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".1s">
                <div class="card shadow-v1">
                    <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
                  <div class="padding-40 border-bottom" hidden>
                  </div>
                  <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                      <a href="#" class="h4">
                          Concours d'entrée a l'Institut Point Com de Paris
                        </a>
                    <li>
                       <i class="ti-time mr-2 text-primary"></i>
                       Le 13 Fevrier 2019 a 8h30
                    </li>
                    <li>
                       <i class="ti-location-pin mr-2 text-primary"></i>
                       184 Main Collins Street
                    </li>
                    <li>
                     <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
                    <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
                    </li>
                  </ul>    
                </div>
              </div>
       
              <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".2s">
                  <div class="card shadow-v1">
                      <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
                    <div class="padding-40 border-bottom" hidden>
                    </div>
                    <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                        <a href="#" class="h4">
                            Concours d'entrée a l'Institut Point Com de Paris
                          </a>
                      <li>
                         <i class="ti-time mr-2 text-primary"></i>
                         Le 13 Fevrier 2019 a 8h30
                      </li>
                      <li>
                         <i class="ti-location-pin mr-2 text-primary"></i>
                         184 Main Collins Street
                      </li>
                      <li>
                       <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
                      <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
                      </li>
                    </ul>    
                  </div>
                </div>
  
                <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".3s">
                    <div class="card shadow-v1">
                        <img class="w-100" src="assets/img/360x220/1.jpg" alt="">
                      <div class="padding-40 border-bottom" hidden>
                      </div>
                      <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
                          <a href="#" class="h4">
                              Concours d'entrée a l'Institut Point Com de Paris
                            </a>
                        <li>
                           <i class="ti-time mr-2 text-primary"></i>
                           Le 13 Fevrier 2019 a 8h30
                        </li>
                        <li>
                           <i class="ti-location-pin mr-2 text-primary"></i>
                           184 Main Collins Street
                        </li>
                        <li>
                         <i><span class="badge ti-eye  badge-warning"> Detail</span></i> 
                        <i style="padding-left: 50%" ><span class="badge   badge-success">Postuler</span></i>
                        </li>
                      </ul>    
                    </div>
                  </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section>
  
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/1.jpg) no-repeat">
          <div class="padding-x-lg-100 wow pulse">
            <h2 class="text-white mb-4">
              Admission Open for 2018
            </h2>
            <p>
              Investig ationes demons travge vunt lectores legere lrus quodk legunt saepius claritas est cnsectetur adip sicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Consectetur adipi sicing.
            </p>
            <a href="#" class="btn btn-white mt-4">Apply now</a>
          </div>
        </div>
        <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/2.jpg) no-repeat">
          <div class="padding-x-lg-100 wow pulse">
            <h2 class="text-white mb-4">
              Students Orientation 2018
            </h2>
            <p>
              Investig ationes demons travge vunt lectores legere lrus quodk legunt saepius claritas est cnsectetur adip sicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Consectetur adipi sicing.
            </p>
            <a href="#" class="btn btn-white mt-4">Apply now</a>
          </div>
        </div>
      </div>
    </div> <!-- END container-->
  </section>
  
  <section class="padding-y-100 bg-light-v2">
    <div class="container">
      <div class="row">
       
        <div class="col-12 text-center">
          <h2 class="mb-4">
            Latest School News
          </h2>
          <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
        </div> 
      </div> <!-- END row-->
      
      <div class="row mt-4">
   
        <div class="col-lg-4 col-md-6 marginTop-30 wow slideInUp" data-wow-delay=".1s">
          <div class="card padding-30 shadow-v1">
           <p class="text-primary">
             Aug 13, 2018
           </p>
           <a href="#" class="h4 mb-3">
             Best Student Spots in London
           </a>
           <p>
             Investig ationes demons trave sed vunt lectores legere do kurus qodk legunt saepiu claritas ekist conse tetur adipi sicing elit, sed kdo.
           </p>
           <a href="#" class="btn btn-outline-primary align-self-start mt-2">
             Read More
           </a>
          </div>
        </div>
   
        <div class="col-lg-4 col-md-6 marginTop-30 wow slideInUp" data-wow-delay=".2s">
          <div class="card padding-30 shadow-v1">
           <p class="text-primary">
             Aug 13, 2018
           </p>
           <a href="#" class="h4 mb-3">
             Believe in Yourself! Have Faith!
           </a>
           <p>
             Investig ationes demons trave sed vunt lectores legere do kurus qodk legunt saepiu claritas ekist conse tetur adipi sicing elit, sed kdo.
           </p>
           <a href="#" class="btn btn-outline-primary align-self-start mt-2">
             Read More
           </a>
          </div>
        </div>
   
        <div class="col-lg-4 col-md-6 marginTop-30 wow slideInUp" data-wow-delay=".3s">
          <div class="card padding-30 shadow-v1">
           <p class="text-primary">
             Aug 13, 2018
           </p>
           <a href="#" class="h4 mb-3">
             Bringing an Online Community Together
           </a>
           <p>
             Investig ationes demons trave sed vunt lectores legere do kurus qodk legunt saepiu claritas ekist conse tetur adipi sicing elit, sed kdo.
           </p>
           <a href="#" class="btn btn-outline-primary align-self-start mt-2">
             Read More
           </a>
          </div>
        </div>
  
     
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section>
  
  
  
  
  
  
  
  
