<div id="contact" class="container-fluid">
  <div class="container contact-form">
    <div class="contact-image">
      <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
    </div>

    <form method="post" action="Contact">
      <h3>Me contacter</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="txtName" class="form-control" placeholder="Nom..." required />
          </div>

          <div class="form-group">
            <input type="email" name="txtEmail" class="form-control" placeholder="Email..." required />
          </div>

          <div class="form-group">
            <input type="tel" name="txtTel" class="form-control" placeholder="Numéro de téléphone..." required />
          </div>

          <div class="form-group">
            <input type="submit" name="btnSubmit" class="btn btn-success" value="Envoyer" style="width: 150px; height: 35px;">
            <input type="submit" name="btnReset" class="btn btn-danger" value="Effacer le formulaire" style="width: 150px; height: 35px;" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="object" class="form-control" placeholder="Objet..." maxlength="100" required />
          </div>

          <div class="form-group">
            <textarea name="txtMsg" class="form-control" placeholder="Ecrivez ici votre message..." style="width: 100%; height: 85px;"
              maxlength="255" required></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>