
<div class="padding-y-80 bg-cover" data-dark-overlay="6" style="background:url(assets/img/breadcrumb-bg.jpg) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Deatil d'un paritcipant
    </h2>
  </div>
</div>
  <section class="paddingTop-50 paddingBottom-100 bg-light">
    <div class="container" *ngFor = "let value of detailparticipant">
      <div class="row">
        <div class="col-lg-4 mt-4">
          <div class="card shadow-v1">
            <div class="card-header text-center border-bottom pt-5 mb-4">
             <img class="rounded-circle mb-4" src="assets/img/262x230/7.jpg" width="200" height="200" alt="">
             <h4 >
             {{value.nom_Pers}} {{value.prenom_Pers}}
             </h4>
              <p hidden>
                Love to eat food
              </p>
              <ul class="list-inline mb-0" hidden>
                <li class="list-inline-item m-2">
                  <i class="ti-shopping-cart text-primary"></i>
                  <span class="d-block">Courses Order</span>
                  <span class="h6">35</span>
                </li>
                <li class="list-inline-item m-2">
                  <i class="ti-heart text-primary"></i>
                  <span class="d-block">Wishlist</span>
                  <span class="h6">27</span>
                </li>
              </ul>
            </div>
            <div class="card-body border-bottom">
              <ul class="list-unstyled">
                <li class="mb-3">
                  <span class="d-block">Email:</span>
                  <a class="h6" > {{value.mail_Pers}}</a>
                </li>
                <li class="mb-3" hi>
                  <span class="d-block">Pseudo</span>
                  <a class="h6"> {{value.pseudo}}</a>
                </li>
                <li class="mb-3">
                  <span class="d-block">Etat:</span>
                  <button class="btn btn-success btn-xs mr-3 mb-3">Active</button>
                </li>
              </ul>
            </div>
            <div class="card-footer" hidden>
             <p>
               Social Profile:
             </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#" class="btn btn-outline-facebook iconbox iconbox-sm">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-outline-twitter iconbox iconbox-sm">
                    <i class="ti-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-outline-google-plus iconbox iconbox-sm">
                    <i class="ti-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn btn-outline-linkedin iconbox iconbox-sm">
                    <i class="ti-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- END col-md-4 -->
        <div class="col-lg-8 mt-4">
          <div class="card padding-30 shadow-v1">
            <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
              Liste des competitions aux quelles il a postue</ul>
            <div class="tab-content" >
             <div class="row" *ngFor = "let listinfocompetition of listinfocompetition">
                  <div class="col-md-6 mt-4">
                    <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">
                     <span class="ribbon-badge font-size-sm bg-success text-white">Best selling</span>
                      <img class="card-img-top" src="assets/img/360x220/1.jpg" alt="">
                      <div class="card-body">
                        <h4 class="h5">
                          Competition: {{listinfocompetition.nom_Comp}}
                        </h4>
                        <h4 class="h5">
                           Categorie: {{listinfocompetition.libelle}}
                          </h4>
                        <p class="my-3">
                          
                          <i class="ti-user mr-2"></i>
                          {{listinfocompetition.og_nom}} {{listinfocompetition.og_prenom}}
                        </p>
                        <p class="mb-0">

                          <span class="text-dark">Note: </span>
                          <span>{{listinfocompetition.score}}</span>
                        </p>
                      </div>
                      <div class="card-footer media align-items-center justify-content-between" hidden>
                        <ul class="list-unstyled mb-0">
                          <li class="mb-1">
                            <i class="ti-headphone small mr-2"></i>
                            46 lectures
                          </li>
                          <li class="mb-1">
                            <i class="ti-time small mr-2"></i>
                            27.5 hours
                          </li>
                        </ul>
                        <h4 class="h5">
                          <span class="text-primary">$180</span>
                        </h4>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 text-center mt-5" hidden>
                    <a href="#" class="btn btn-icon btn-outline-primary">
                      <i class="ti-reload mr-2"></i>
                      Load More
                    </a>
                  </div> 
                </div> <!-- END row-->
            </div> <!-- END tab-content-->
          </div> <!-- END card-->
        </div> <!-- END col-md-8 -->
      </div> <!--END row-->
    </div> <!--END container-->
  </section>