<app-header></app-header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div id="slider">
        <figure id="slide_visite">
          <img src="http://placehold.it/900x350" alt>
          <img src="http://placehold.it/900x350" alt>
          <img src="http://placehold.it/900x350" alt>
          <img src="http://placehold.it/900x350" alt>
          <img src="http://placehold.it/900x350" alt>
        </figure>
      </div>

      <router-outlet></router-outlet>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

    <div class="col-lg-3">
      <h1 class="my-4">Dernières Compétitions</h1>
      <div class="list-group">
        <h4> Catégorie Cuisine </h4>
        <ul>
          <li>1er : Blabla</li>
          <li>2nd : Blablaa</li>
          <li>3rd : Blablaaaa</li>
        </ul>
        <h4> Catégorie Sport </h4>
        <ul>
          <li>1er : Blabla</li>
          <li>2nd : Blablaa</li>
          <li>3rd : Blablaaaa</li>
        </ul>
        <h4> Catégorie E-Sport </h4>
        <ul>
          <li>1er : Blabla</li>
          <li>2nd : Blablaa</li>
          <li>3rd : Blablaaaa</li>
        </ul>
      </div>
    </div>
    <!-- /.col-lg-3 -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<app-footer></app-footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>