<div class="container">
  <div class="row">
    <form novalidate (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm">
      <fieldset>
        <legend>SignUp</legend>

        <!-- Email input block -->
        <div class="form-group">
          <div class="row">
            <label for="inputEmail" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" [ngModel]="user.email" name="email" #email="ngModel" id="inputEmail"
                placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            </div>
          </div>

          <!-- Email error block -->
          <div class="row">
            <div *ngIf="email.invalid && (email.touched)" class="col-lg-offset-3 text-danger" style="color: firebrick;">
              <div *ngIf="email.errors?.required">
                Vous devez saisir une adresse mail
              </div>
              <div *ngIf="email.errors?.pattern && email.touched">
                Vous devez saisir une adresse mail valide
              </div>
            </div>
          </div>
        </div>

        <!-- Password block -->
        <div class="form-group">
          <div class="row">
            <label for="inputPassword" class="col-lg-3 	control-label">Password</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" [ngModel]="user.pwd" #userPassword="ngModel" name="pwd" id="inputPassword"
                placeholder="Password" minlength="8" required>
            </div>
          </div>

          <!-- Password error block -->
          <div class="row">
            <div *ngIf="userPassword.invalid && (userPassword.touched)" class="col-lg-offset-3 text-danger" style="color: firebrick;">
              <div *ngIf="userPassword.invalid">
                Vous devez saisir un mot de passe
              </div>
              <div *ngIf="userPassword.errors?.pattern && userPassword.touched">
                Le mot de passe doit contenir plus de 8 caractères
              </div>
            </div>
          </div>
        </div>

        <!-- Confirm Password block -->
        <div class="form-group">
          <div class="row">
            <label for="inputConfirmPassword" class="col-lg-3 control-label">Confirm Password</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" [ngModel]="user.confirmPwd" #confirmPassword="ngModel" name="confirmPwd"
                id="inputConfirmPassword" placeholder="Confirm Password">
            </div>
          </div>

          <!-- Confirm Password error block -->
          <div class="row">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.touched)" class="col-lg-offset-3 text-danger" style="color: firebrick;">
              <div *ngIf="confirmPassword.invalid">
                Le mot de passe doit contenir plus de 8 caractères
              </div>
              <div *ngIf="userPassword.value?.pwd != confirmPassword.value?.confirmPwd">
                Les mots de passe doivent être identiques
              </div>
            </div>
          </div>
        </div>

        <!-- Select Gender block -->
        <div class="form-group">
          <div class="row">
            <label for="select" class="col-lg-3">Gender</label>
            <div class="col-lg-7">
              <select id="select" class="form-control" [ngModel]="user.gender" name="gender" required>

                <option *ngFor="let g of gender" [value]="g"> {{g}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Terms checkbox block -->

        <div class="form-group checkbox">
          <div class="row">
            <div class="col-lg-6 ">
              <input type="checkbox" ngModel name="terms" #terms="ngModel" required> Confirm that you've read the Terms
              and Condition
            </div>
          </div>

          <!-- Terms checkbox error block -->
          <div *ngIf="(terms.invalid && terms.touched)" class="col-lg-4 text-danger">
            You need to check this box to continue
          </div>
        </div>

        <!-- Buttons block -->
        <div class="form-group ">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">S'inscrire</button>
              <button type="reset" class="btn btn-danger">Annuler</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>