<section class="padding-y-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card shadow-v2"> 
         <div class="card-header border-bottom" style="text-align: center">
          <h4 class="mt-4">    
         Inscrivez-vous!
          </h4>
         </div>         
          <div class="card-body">
            <div class="row">
              <div class="col my-2">
                <button class="btn btn-block btn-facebook">
                 <i class="ti-facebook mr-1"></i>
                 <span>Facebook Sign in</span>
               </button>
              </div>
              <div class="col my-2">
                <button class="btn btn-block btn-google-plus">
                 <i class="ti-google mr-1"></i>
                 <span>Google Sign in</span>
               </button>
              </div>
            </div>
            <p class="text-center my-4">
              OU
            </p>
            <form  #Form="ngForm" (ngSubmit)="onSubmit()">
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-user"></span>
                </div>
                <input type="text" class="form-control border-left-0 pl-0" [(ngModel)]="participant.nom_Pers" placeholder="Nom" name="nom_Pers"  id="nom_Pers">
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-user"></span>
                </div>
                <input type="text" class="form-control border-left-0 pl-0" [(ngModel)]="participant.prenom_Pers" placeholder="Prenom" name="prenom_Pers"  id="prenom_Pers">
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-user"></span>
                </div>
                <input type="text" class="form-control border-left-0 pl-0"[(ngModel)]="participant.pseudo" placeholder="Pseudo" name="pseudo"  id="pseudo"> 
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-email"></span>
                </div>
                <input type="email" class="form-control border-left-0 pl-0" [(ngModel)]="participant.mail_Pers" placeholder="Email" name="mail_Pers"  id="mail_Pers">
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-lock"></span>
                </div>
                <input type="password" class="form-control border-left-0 pl-0" placeholder="Mot de passe" required>
              </div>
              <div class="input-group input-group--focus mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white ti-lock"></span>
                </div>
                <input type="password" class="form-control border-left-0 pl-0" [(ngModel)]="participant.password" name="password"  id="password" placeholder="Confirmation" required>
              </div>
  
              <button class="btn btn-block btn-primary" type="submit" data-dismiss="modal">Creer un profil</button>
              <p class="my-5 text-center">
                  Si vous avez déjà un profil, identifiez-vous? <a class="underline" routerLink="../login" routerLinkActive="active" style="color:limegreen">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div> 
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
   
   
   