<div class="row">
  <div class="col-lg-6">
    <h2>Toutes les compétitions disponibles</h2>
  </div>
  <div class="col-lg-6">
    <form id="form" class="navbar-form navbar-right">
      <div class="form-group">
        <input class="input-sm form-control" type="search" placeholder="Saississez votre recherche ici ...">
        <input class="btn btn-primary" type="submit" value="Rechercher">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="row" *ngFor="let val of data">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ val.nomComp }}</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Competition One</a>
          </h4>

          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
      </div>
    </div>
  </div>
</div>